/*! debug.css | MIT License | https://gist.github.com/zaydek-old/6b2e55258734deabbd2b4a284321d6f6 */
*:not(path):not(g) {
  color: hsla(210, 100%, 100%, 0.9) !important;
  background: hsla(152, 74%, 28%, 0.5) !important;
  outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
  box-shadow: none !important;
}
